<!-- Adapted from bootstrap example: http://twitter.github.io/bootstrap/examples/starter-template.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VGR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
	 <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons --
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
    -->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">VGR</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Library</a></li>
              <li><a href="wishlist">Wishlist</a></li>
              <li><a href="search">Search</a></li>
              <li><a href="recommend">Get Recommendations</a></li>
              <li><a href="logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h2>Games Library</h2>

      {% for rating in user.rating_set.all %}
      <form class="form-horizontal" method="post" action="/manage_game">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label" for="input{{ rating.game.name }}">
            <a href="{{ rating.game.detail }}" target="_blank"> {{ rating.game.name }}</a>
          </label>
          <div class="controls">
            <select name="score">
              <option {% if rating.score == 1 %} selected {% endif %}>1</option>
              <option {% if rating.score == 2 %} selected {% endif %}>2</option>
              <option {% if rating.score == 3 %} selected {% endif %}>3</option>
              <option {% if rating.score == 4 %} selected {% endif %}>4</option>
              <option {% if rating.score == 5 %} selected {% endif %}>5</option>
            </select>
            <input type="hidden" name="gameId" id="input{{ rating.game.name }}" value="{{ rating.game.db_id }}">
            <button type="submit" name="rate_game" class="btn">Rate</button>
            <button type="submit" name="remove_game" class="btn">Remove from library</button>
          </div>
        </div>
      </form>
      {% endfor %}



    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="../assets/js/jquery.js"></script>
    <script src="static/bootstrap-transition.js"></script>
    <script src="static/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
-->
  </body>
</html>
