<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VGR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
	 <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>


  </head>

  <body>
    <!--navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">VGR</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Library</a></li>
              <li><a href="wishlist">Wishlist</a></li>
              <li class="active"><a href="search">Search</a></li>
              <li><a href="recommend">Get Recommendations</a></li>
              <li><a href="logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <h2 class="text-center">Search results</h2>
    <form class="form-horizontal" method="post" action="/add_games">
      {% csrf_token %}
      {% for game in games %}
        <div class="control-group">
          <label class="control-label" for="input{{ game.name }}"><a href="{{ game.site_detail_url }}" target="_blank">{{ game.name }}</a></label>
          <div class="controls">
            <select name="{{ game.id }}">
              <option selected value="none">Do nothing</option>
              <option value="lib">Add to library</option>
              <option value="wish">Add to wishlist</option>
            </select>
          </div>
        </div>

      {% endfor %}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Submit</button>
          </div>
        </div>
    </form>




  </body>
</html>