<!-- Adapted from bootstrap example: http://twitter.github.io/bootstrap/examples/starter-template.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VGR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
	 <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">VGR</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Library</a></li>
              <li class="active"><a href="wishlist">Wishlist</a></li>
              <li><a href="search">Search</a></li>
              <li><a href="recommend">Get Recommendations</a></li>
              <li><a href="logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h2>Games Wishlist</h2>

      {% for game in user.wishlist.games.all %}
      <form class="form-horizontal" method="post" action="/manage_wishlist">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label" for="input{{ game.name }}">
            <a href="{{ game.detail }}" target="_blank">{{ game.name }}</a>
          </label>
          <div class="controls">
            <input type="hidden" name="gameId" id="input{{ game.name }}" value="{{ game.db_id }}">
            <button type="submit" name="add_to_lib" class="btn">Add to library</button>
            <button type="submit" name="remove_game" class="btn">Remove</button>
          </div>
        </div>
      </form>
      {% endfor %}
    </div>
  </body>
</html>
